---
import IconTrowel24 from "src/components/icons/IconTrowel_24.astro";
import IconArrowDown16 from "src/components/icons/IconArrowDown_16.astro";
import IconSeed24 from "src/components/icons/IconSeed_24.astro";
import IconSapling24 from "src/components/icons/IconSapling_24.astro";
import IconWateringCan24 from "src/components/icons/IconWateringCan_24.astro";
---

<div class="chart-container progress" aria-hidden="true">
	<div class="segment-container" data-phase="initiating">
		<div class="title-container">
			<div class="active-container">
				<span>Currently</span>
				<IconArrowDown16 />
			</div>
			<span class="title">Initiating</span>
		</div>
		<div class="block-container">
			<div class="block">
				<IconTrowel24 />
			</div>
		</div>
		<div class="details-container">
			<span class="count">
				<span data-field="count">0</span>&nbsp;/&nbsp;<span
					data-field="total">0</span
				>
			</span>
			<span>Considerations Established</span>
		</div>
	</div>
	<div class="segment-container" data-phase="implementing">
		<div class="title-container">
			<div class="active-container">
				<span>Currently</span>
				<IconArrowDown16 />
			</div>
			<span class="title">Implementing</span>
		</div>
		<div class="block-container">
			<div class="block">
				<IconSeed24 />
			</div>
		</div>
		<div class="details-container">
			<span class="count">
				<span data-field="count">0</span>&nbsp;/&nbsp;<span
					data-field="total">0</span
				>
			</span>
			<span>Considerations Established</span>
		</div>
	</div>
	<div class="segment-container" data-phase="developing">
		<div class="title-container">
			<div class="active-container">
				<span>Currently</span>
				<IconArrowDown16 />
			</div>
			<span class="title">Developing</span>
		</div>
		<div class="block-container">
			<div class="block">
				<IconSapling24 />
			</div>
		</div>
		<div class="details-container">
			<span class="count">
				<span data-field="count">0</span>&nbsp;/&nbsp;<span
					data-field="total">0</span
				>
			</span>
			<span>Considerations Established</span>
		</div>
	</div>
	<div class="segment-container" data-phase="sustaining">
		<div class="title-container">
			<div class="active-container">
				<span>Currently</span>
				<IconArrowDown16 />
			</div>
			<span class="title">Sustaining</span>
		</div>
		<div class="block-container">
			<div class="block">
				<IconWateringCan24 />
			</div>
		</div>
		<div class="details-container">
			<span class="count">
				<span data-field="count">0</span>&nbsp;/&nbsp;<span
					data-field="total">0</span
				>
			</span>
			<span>Considerations Established</span>
		</div>
	</div>
</div>

<div class="progress-simplified" data-screen-reader>
	<p>Phase Achieved: <strong data-field="phase">Initiating</strong></p>
	<dl>
		<dt>Initiating</dt>
		<dd>
			<span data-field="count"></span> of <span data-field="total"></span>
			considerations established
		</dd>

		<dt>Implementing</dt>
		<dd>
			<span data-field="count"></span> of <span data-field="total"></span>
			considerations established
		</dd>

		<dt>Developing</dt>
		<dd>
			<span data-field="count"></span> of <span data-field="total"></span>
			considerations established
		</dd>

		<dt>Sustaining</dt>
		<dd>
			<span data-field="count"></span> of <span data-field="total"></span>
			considerations established
		</dd>
	</dl>
</div>

<style is:global>
	/* 
	// Progress Chart
	*/

	.chart-container.progress {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 2.5rem 0;
		margin: 0;
	}

	.chart-container.progress .segment-container {
		display: flex;
		flex-flow: column nowrap;
		gap: 1rem;
		position: relative;
	}

	/* Block */

	.chart-container.progress .segment-container .block-container .block {
		--icon-size: 2.5rem;
		--icon-colour: var(
			--colour-ui-accent-subtle,
			var(--colour-ui-neutral-subtle)
		);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		background-color: var(
			--colour-fill-accent-subtle,
			var(--colour-fill-neutral-subtle)
		);
	}

	.chart-container.progress
		.segment-container:first-of-type
		.block-container
		.block {
		border-radius: var(--border-radius-normal) 0 0
			var(--border-radius-normal);
	}

	.chart-container.progress
		.segment-container:last-of-type
		.block-container
		.block {
		border-radius: 0 var(--border-radius-normal) var(--border-radius-normal)
			0;
	}

	.chart-container.progress
		.segment-container[data-active]
		.block-container
		.block {
		--icon-colour: var(--colour-ui-reverse);
		height: 140px;
		border-radius: var(--border-radius-normal);
		background-color: var(
			--colour-fill-accent-bold,
			var(--colour-fill-neutral-mid)
		);
	}

	.chart-container.progress
		.segment-container:not([data-active])
		+ :not([data-active])
		.block-container
		.block {
		border-left: 2px solid
			var(
				--colour-border-accent-subtle,
				var(--colour-border-neutral-subtle)
			);
	}

	/* Title */

	.chart-container.progress .segment-container .title-container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: end;
		gap: 0.5rem;
		flex-grow: 1;
	}

	.chart-container.progress .segment-container .title-container .title {
		font-size: 1.125rem;
		font-weight: 500;
	}

	.chart-container.progress
		.segment-container[data-active]
		.title-container
		.title {
		font-size: 1.25rem;
		font-weight: 600;
	}

	/* Active Flag */

	.chart-container.progress
		.segment-container
		.title-container
		.active-container {
		--icon-size: 1rem;
		--icon-colour: var(
			--colour-ui-accent-subtle,
			var(--colour-ui-neutral-subtle)
		);
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 0.25rem;
		position: absolute;
		top: -2.5rem;
	}

	.chart-container.progress
		.segment-container
		.title-container
		.active-container
		span {
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--colour-ui-accent-subtle, var(--colour-ui-neutral-subtle));
	}

	.chart-container.progress
		.segment-container:not([data-active])
		.title-container
		.active-container {
		display: none;
	}

	/* Details */

	.chart-container.progress .segment-container .details-container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 0.25rem;
		flex-grow: 1;
		padding: 0 0.75rem;
		font-size: 0.875rem;
		color: var(--colour-ui-neutral-subtle);
		text-align: center;
	}

	.chart-container.progress .segment-container .details-container .count {
		font-size: 1rem;
		font-weight: 600;
	}
</style>
