---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import IconArrowRight16 from "src/components/icons/IconArrowRight_16.astro";
import IconBrain from "src/components/icons/IconBrain_24.astro";
import IconHeart from "src/components/icons/IconHeart_24.astro";
import IconDownload20 from "src/components/icons/IconDownload_20.astro";
import { Image } from 'astro:assets';
import girlDeskImage from "../images/girl-portrait-desk.jpg";
import boyTennisImage from "../images/boy-portrait-tennis.jpg";
import girlScooterImage from "../images/girl-portrait-scooter.jpg";
---
<BaseLayout pageTitle={'NB Middle Schools: A Window of Opportunity'}>

	<div class="content" data-theme="red">

		<section>
			<h2>The Middle Program Block</h2>
			<p>New Brunswick's Middle Program Block has been designed to support all young adolescent learners—both in the English Prime and French Immersion programs—by responding to <strong>who</strong> they are, <strong>what</strong> they need, and <strong>how</strong> they grow and develop.</p>
		</section>

		<hr class="section">

		<section>
			<h2>What does the research show?</h2>
			<p class="heading-subtitle" data-style-as="h2">
				<IconArrowRight16/>
				Early adolescence matters!
			</p>
			<p>While early childhood is renowned for its rapid neural growth, adolescence represents another critical phase of heightened plasticity and neural refinement. This stage is vital for shaping lifelong behaviours, supporting mental health, and fostering academic growth.</p>
			<div class="elem-group" data-columns="2">
				<div class="callout" data-style="outline" data-elem-on-path="icon">
					<div class="icon-container">
						<IconBrain/>
					</div>
					<h3 class="heading">Early adolescence is a time for rapid learning and growth.</h3>
					<p>This stage of life is marked by substantial remodeling of brain structures and reconfiguration of neural systems. These changes not only enhance learning capacity but also highlight the importance of providing the right supports to make the most of this opportunity.</p>
				</div>
				<div class="callout" data-style="outline" data-elem-on-path="icon">
					<div class="icon-container">
						<IconHeart/>
					</div>
					<h3 class="heading">Early adolescence is a period of vulnerability and potential.</h3>
					<p>Adolescence brings increased sensation-seeking, stronger motivations for social connections, and heightened sensitivity to social feedback. These developmental traits create a unique environment, priming adolescents for learning and personal development.</p>
				</div>
			</div>
		</section>

		<hr class="section"/>

		<section>
			<h2>What does this research mean for Middle Schools in NB?</h2>
			<p class="heading-subtitle" data-style-as="h2">
				<IconArrowRight16/>
				Our Middle Schools are catalysts for change!
			</p>
			<p>We know that Middle School Learners:</p>
			<div class="elem-group" data-columns="3">
				<div class="callout" data-style="image">
					<Image src={girlDeskImage} alt="" style="object-position: top center;" />
					<div class="text-container">
						<p>Have unique identities and opinions, justifications, and beliefs.</p>
					</div>
				</div>
				<div class="callout" data-style="image" data-theme="blue">
					<Image src={boyTennisImage} alt="" style="object-position: top center;" />
					<div class="text-container">
						<p>Have increasing agency and decision-making power, and that their peer group takes on increasing importance.</p>
					</div>
				</div>
				<div class="callout" data-style="image" data-theme="green">
					<Image src={girlScooterImage} alt="" style="object-position: top center;" />
					<div class="text-container">
						<p>Want to feel grown-up and have varying responsibilities that they must balance.</p>
					</div>
				</div>
			</div>
			<p>We also know that our Middle Schools play a pivotal role in shaping the trajectories of our Middle School Learners. By fostering responsive relationships and creating networks of belonging, schools can activate adolescents' sense of agency and engagement in their learning.</p>
			<p>Additionally, for students who have not yet achieved proficiency in literacy and numeracy, adolescence offers a critical moment for targeted support. The brain’s capacity for learning during this period allows for meaningful progress through evidence-based, responsive teaching practices.
			</p>
		</section>

		<hr class="section"/>

		<section>
			<h2>How can our schools best embrace this window of opportunity?</h2>
			<p class="heading-subtitle" data-style-as="h2">
				<IconArrowRight16/>
				By using “The Big Seven” developmental continuums!
			</p>
			<p>The Conditions for Success Developmental Continuums span seven key indicators, called “The Big Seven.” These continuums, which are rooted in the Holistic Curriculum Framework and align with research-based practices, together comprise a comprehensive framework for NB Middle Schools. Schools can use this framework to create responsive, inclusive, and empowering environments that meet the unique needs of adolescents.</p>
			<ol class="fancy">
				<li data-theme="red"><span class="text" data-font-type="serif">Leadership and Teaming</span></li>
				<li data-theme="orange"><span class="text" data-font-type="serif">Access and Equity</span></li>
				<li data-theme="yellow"><span class="text" data-font-type="serif">Relationships</span></li>
				<li data-theme="green"><span class="text" data-font-type="serif">Empathy</span></li>
				<li data-theme="teal"><span class="text" data-font-type="serif">Identities</span></li>
				<li data-theme="blue"><span class="text" data-font-type="serif">High-yield Instructional Practices</span></li>
				<li data-theme="purple"><span class="text" data-font-type="serif">Meaningful Learning Experiences</span></li>
			</ol>
			<p>This website houses key framework details and resources. It can help schools to self-assess, plan improvements, and celebrate progress. Check out <a href="/big-seven">The Big Seven</a> page to learn more.</p>
		</section>

		<div class="callout" data-style="solid" data-intensity="bold" data-spacing="large">
			<h2 class="heading">Want a paper-based version of the Conditions for Success Developmental Continuums?</h2>
			<a href="" data-style-as="button" data-style="solid" data-size="large">
				<div class="icon-and-label-container">
					<IconDownload20/>
					<span class="label-container">
						<span class="label">Download the Framework</span>
					</span>
				</div>
			</a>
		</div>

	</div>

</BaseLayout>

<style>



</style>
