---
import { getCollection } from "astro:content";

const { url } = Astro;
let path = url.pathname;

let allIndicators = await getCollection("indicators");
let indicators = allIndicators.sort((a, b) =>
	a.data.tag.localeCompare(b.data.tag),
);
---

<nav class="left-aside section" aria-label="The Big Seven Navigation">
	<h2>The Big Seven</h2>
	<ul>
		<li>
			<a
				aria-current={path === "/big-seven" ? "page" : null}
				href="/big-seven"
				data-style-as="button">Introduction</a
			>
		</li>
		{
			indicators.map((indicator) => {
				let indicatorPath = `/big-seven/${indicator.id}`;
				return (
					<li>
						<a
							aria-current={
								path === indicatorPath ? "page" : null
							}
							href={indicatorPath}
							data-style-as="button"
						>
							{indicator.data.title}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>

<style is:global>
	nav.section {
		position: sticky;
		top: 3.75rem;
		height: 100vh;
		padding: var(--space-2xl) var(--space-xl) var(--space-2xl) 0;
		border-right: 1px solid var(--colour-border-neutral-subtle);
	}

	nav.section h2 {
		font-size: var(--font-size-lg);
		border-bottom: 1px solid var(--colour-border-neutral-subtle);
		padding: 0 0 var(--space-2xs);
		margin: 0 0 var(--space-sm);
	}

	nav.section ul {
		display: flex;
		flex-flow: column;
		gap: var(--space-2xs);
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	nav.section ul ul {
		display: flex;
		flex-flow: column;
		gap: var(--space-2xs);
		margin-top: var(--space-2xs);
	}

	nav.section ul li {
		line-height: 1.2;
	}

	nav.section a {
		--button-background-colour: transparent;
		--button-border-radius: var(--border-radius-normal);
		display: flex;
		align-items: center;
		text-decoration: none;
		height: auto;
		padding: var(--space-xs) var(--space-sm);
		font-size: var(--font-size-xs);
		line-height: 1.2;
		border-radius: var(--border-radius-normal);
		justify-content: unset;
	}

	nav.section a:is(:hover, :focus-visible) {
		--button-background-colour: var(--colour-fill-neutral-subtle);
	}

	nav.section [aria-current="page"],
	nav.section [aria-current="page"]:is(:hover, :focus-visible) {
		--button-boxshadow-colour: var(--colour-border-neutral-subtle);
		--button-background-colour: transparent;
	}
</style>
