---
const { id, message, colour, type } = Astro.props;
---

<div
	id={id}
	class="toast-container"
	role="status"
	aria-live={type === "success" ? "polite" : "assertive"}
>
	<div
		class="toast"
		data-theme={colour}
		data-vibrancy="vivid"
		data-type={type}
	>
		<slot name="icon" />
		<span>{message}</span>
	</div>
</div>

<style is:global>
    .toast-group {
        grid-area: toasts;
        height: 0;
        padding-top: var(--space-xl);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1001;
    }

    main.big-seven[data-mode="assessment"] .toast-group {
        padding-top: var(--space-base);
        top: 3.75rem;
    }

	.toast-container {
		display: flex;
		flex-flow: column;
		align-items: center;
        position: absolute;
        right: 0;
        left: 0;
		opacity: 0;
        pointer-events: none;
        translate: 0px -0.25rem;
		transition:
			opacity var(--transition-linear-fast),
			translate var(--transition-ease-fast);
	}

	.toast-container[open] {
		opacity: 1;
        translate: 0px 0px !important;
		transition:
			opacity var(--transition-linear-medium),
			translate var(--transition-ease-slow);
	}

	.toast {
		--icon-size: 0.75rem;
		--icon-colour: var(--colour-ui-accent, var(--colour-ui-neutral));
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: var(--space-xs);
		padding: var(--space-2xs) var(--space-sm);
		min-height: 3rem;
		background-color: var(
			--colour-fill-accent-subtle,
			var(--colour-fill-neutral-subtle)
		);
		border-radius: var(--border-radius-normal);
		font-size: var(--font-size-2xs);
		box-shadow: var(--box-shadow);
	}

	.toast[data-type="failure"] {
		--icon-size: 1rem;
	}
</style>
