---
import { getCollection } from "astro:content";

const indicators = await getCollection('indicators');

---

<ul>
	{indicators.map(indicator => (
		<li>
			<a href={`/big-seven/${indicator.id}`}>{indicator.data.title}</a>
		</li>
	))}
</ul>
