---
import IconAudio from '../icons/IconAudio_24.astro';
import IconDocument from '../icons/IconDocument_24.astro';
import IconImage from '../icons/IconImage_24.astro';
import IconPresentation from '../icons/IconPresentation_24.astro';
import IconVideo from '../icons/IconVideo_24.astro';
import IconWeb from '../icons/IconWeb_24.astro';
import IconBrain from './IconBrain_24.astro';
import IconHeart from './IconHeart_24.astro';

const resourceIcons = {
	audio: IconAudio,
	document: IconDocument,
	image: IconImage,
	presentation: IconPresentation,
	video: IconVideo,
	website: IconWeb,
	webinar: IconVideo,
	course: IconBrain,
	community: IconHeart,
};

const resourceLabels = {
	audio: 'Audio',
	document: 'Document',
	image: 'Image',
	presentation: 'Presentation',
	video: 'Video',
	website: 'Website',
	webinar: 'Webinar',
	course: 'Course',
	community: 'Community',
};

const {
	type,
	collapsible = true,
	containerClasses = [],
	iconClasses = [],
	dataset = [],
} = Astro.props;

let datasetAttrs = {};
if (dataset) {
	for (let data of dataset) {
		datasetAttrs[`data-${data.key}`] = data.value;
	}
}

let Icon = resourceIcons[type];
let label = resourceLabels[type];
---

{
	Icon && label && (
		<div
			class={['icon-and-label-container', ...containerClasses].join(' ')}
			data-collapsible={collapsible ? 'label' : null}
			{...datasetAttrs}
		>
			<Icon classes={iconClasses} />
			<span class="label-container">
				<span class="label">{label}</span>
			</span>
		</div>
	)
}
