---
import IconAudio from "../icons/IconAudio_24.astro";
import IconDocument from "../icons/IconDocument_24.astro";
import IconPresentation from "../icons/IconPresentation_24.astro";
import IconVideo from "../icons/IconVideo_24.astro";
import IconWeb from "../icons/IconWeb_24.astro";

const resourceIcons = {
	audio: IconAudio,
	document: IconDocument,
	presentation: IconPresentation,
	video: IconVideo,
	website: IconWeb
}

const resourceLabels = {
	audio: 'Audio',
	document: 'Document',
	presentation: 'Presentation',
	video: 'Video',
	website: 'Website'
}

const { category } = Astro.props;

let Icon = resourceIcons[category];
let label = resourceLabels[category];

---

<div class="icon-and-label-container" data-collapsible>
	<Icon />
	<span class="label-container">
		<span class="label">{label}</span>
	</span>
</div>