---
import IconAudio from "../icons/IconAudio_24.astro";
import IconDocument from "../icons/IconDocument_24.astro";
import IconPresentation from "../icons/IconPresentation_24.astro";
import IconVideo from "../icons/IconVideo_24.astro";
import IconWeb from "../icons/IconWeb_24.astro";

const resourceIcons = {
	audio: IconAudio,
	document: IconDocument,
	presentation: IconPresentation,
	video: IconVideo,
	website: IconWeb
}

const resourceLabels = {
	audio: 'Audio',
	document: 'Document',
	presentation: 'Presentation',
	video: 'Video',
	website: 'Website'
}

const { type, classes, dataset } = Astro.props;

let datasetAttrs = {};
if (dataset) {
	for (let data of dataset) {
		datasetAttrs[`data-${data.key}`] = data.value;
	}
}

let Icon = resourceIcons[type];
let label = resourceLabels[type];

---

{ Icon && label && (

	<div class="icon-and-label-container" data-collapsible="label" {...datasetAttrs}>
		<Icon classes={classes} />
		<span class="label-container">
			<span class="label">{label}</span>
		</span>
	</div>

)}

