---

import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";

import "../styles/normalize.css";
import "../styles/global.css";

const { pageTitle } = Astro.props;

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <!-- <meta name="color-scheme" content="dark light" /> -->
        <title>{pageTitle}</title>
		<!-- Public Sans Font ~ Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900" rel="stylesheet">
		<!-- Aesthet Nova Font ~ Adobe Fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/omy5wmz.css">
        <ViewTransitions />
    </head>
    <body>
		<Header />
		<main data-mode="reading">
        	<slot />
		</main>
		<footer></footer>
    </body>

	<script>

		import { subscribe } from "src/stores/userDataStore";

		let updateMode = (data) => {

			let mode = data.uiState.mode;

			if (mode !== 'assessment' && mode !== 'reading') return;

			// Get the html root
			let main = document.querySelector('main');

			// Update the theme
			main.setAttribute('data-mode', mode);

		}

		subscribe(updateMode);

	</script>

</html>
